.third{
    width:32.9%;
    display: inline-block;
    padding: 10px;
    margin-bottom: 15px;
}
.third input{
    font-size: 18px;
    padding:10px;
}

body{
    font-size: 20px;
}

.blackback {
    background-color: rgb(214, 208, 208);
    border-radius: 5px;
    padding:20px;
    
}